.DS_Store
API/Jena/*
Ontologi/v*.*/*
.metadata/
Workspace/RemoteSystemsTempFiles/
Workspace/DesktopVersion/.settings/
Workspace/web-version/.settings/
Workspace/DesktopVersion/.project
Workspace/DesktopVersion/.classpath
Workspace/SemanticQA/.settings/
Workspace/SemanticQA/.project
Workspace/SemanticQA/.classpath
Workspace/.metadata/
Workspace/.recommenders/
Workspace/Servers/
Workspace/.settings
Workspace/web-version/.settings
Workspace/SemanticQA/.settings/*
WebUI/ReactJS/node_modules/*
