@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Work+Sans);
body {
  background-color: #fcfcfc;
  color: #55af88;
  font-family: ubuntu, Tahoma,Questrial;
  font-size: 15px;
}
table {
  width: 100%;
}
.answerContainer h4 {
  margin: 0;
  background-color: rgba(10,240,10,.5);
  padding:20px 10px;
  border-radius: 5px 5px 0 0;
}
.answerContainer table td {
  padding: 10px 5px;
}
.answerContainer table td span span {
  text-align: left;
  display: block;
  color: rgb(101,10,90);
  font-family: ubuntu;
  font-weight: normal;
  line-height: 22px;
  margin: 20px 0;
}
.answerContainer table td {
  padding: 10px 20px;
}
.answerContainer table td:first-child {
  color: #595;
  font-weight: bold;
  text-transform: capitalize;
}
.answerContainer table tr:nth-child(even) {
  background-color: rgba(196, 245, 231, .2);
}
.answerContainer table tr:nth-child(1) {
  background-color: transparent;
}
.answerContainer img {
 max-width: 640px;
}
#mainContainer {
  width: 680px;
  margin: 40px auto 0 auto;
  text-align: center;
}

#mainContainer h1 {
  color: #55af88;
  font-family:'Yanone Kaffeesatz';
  text-shadow: 0 0 2px #fafafa;
  margin-bottom: 30px;
  font-size: 35px;
}

#formContainer {
  margin: 0 auto 40px auto;
}

#formContainer input[type=text] {
  width: 548px;
  height: 25px;
  color: #55af88;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #5fc577;
/*   border-right: none; */
  background-color: #f9fafc;
}
#formContainer button {
  padding: 0 35px;
  height: 37px;
  color: #fff;
  font-size: 15px;
  background-color: #5fc577;
  border: 1px solid #5fc577;
  border-left:none;
}
#formContainer button:hover {
  background-color: #9acf77;
}
.answerContainer,.mainAnswerContainer {
  margin: 10px 0;
/*   padding: 10px; */
}
.answerContainer {
  color: #595;
  text-align: left;
  background-color: #f5fcf5;
  box-shadow: 0 0 8px #a8eea5;
  -webkit-box-shadow: 0 0 10px #a8eea5;
  border-radius: 5px;
  margin: 20px 0;
}
.mainAnswerContainer {
  background-color: rgba(250,30,30,.4);
  color: rgb(255,255,255);
  padding: 20px;
  font-size: 18px;
  box-shadow: 0 0 1px rgb(150,10,10);
  font-weight: bold;
/*   border-radius: ; */
  text-align: center;
}
.spinner-animation,.answer-animation {
  opacity: 1;
  position: absolute;
  top:38%;
}
.answer-animation {
  display: block;
  width: inherit;
  top: 34%;
}
.spinner-animation.ng-hide-add,
.spinner-animation.ng-hide-remove,
.answer-animation.ng-hide-add,
.answer-animation.ng-hide-remove {
  transition: all ease 1s;
}

.spinner-animation.ng-hide {
  opacity: 0;
  top: 28%;
}
.answer-animation.ng-hide {
  opacity: 0;
  position: absolute;
  top: 55%;
}

.loader {
  width: 250px;
  height: 50px;
  position: absolute;
  top: 55%;
  left: 50%;
  margin: -25px -105px;
  list-style-type: none;
}

.loader li {
  float: left;
  position: relative;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  border: 4px solid #5fc577;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.ball {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 100%;
  background-color: #5fc577;
  box-shadow: 0 -15px 0 0 rgba(255, 255, 255, 0.15), 0 -10px 0 0 rgba(255, 255, 255, 0.10), 0 -5px 0 0 rgba(255, 255, 255, 0.05);
}

.circle {
  -webkit-animation: rotate 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
  animation: rotate 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
}

.ball {
  -webkit-animation: fall 1.5s cubic-bezier(0.95, 0, 1, 1) infinite;
  animation: fall 1.5s cubic-bezier(0.95, 0, 1, 1) infinite;
}

.loader li:nth-child(1) div {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.loader li:nth-child(2) div {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.loader li:nth-child(3) div {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.loader li:nth-child(4) div {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.loader li:nth-child(5) div {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

@keyframes rotate {
  0%, 20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0%, 20% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes fall {
  0%, 20% {
    transform: translatey(-30px);
    opacity: 0;
  }
  20%,
  24%,
  27%,
  30%,
  50%,
  75% {
    transform: translatey(0px);
    opacity: 1;
  }
  22% {
    transform: translatey(-10px)
  }
  25% {
    transform: translatey(-6px)
  }
  28% {
    transform: translatey(-2px)
  }
  30% {
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
  }
  75%,
  100% {
    box-shadow: 0 -15px 0 0 rgba(255, 255, 255, 0.15), 0 -10px 0 0 rgba(255, 255, 255, 0.10), 0 -5px 0 0 rgba(255, 255, 255, 0.05);
    transform: translatey(30px);
    opacity: 0;
  }
}

@-webkit-keyframes fall {
  0%, 20% {
    -webkit-transform: translatey(-30px);
    opacity: 0;
  }
  20%,
  24%,
  27%,
  30%,
  50%,
  75% {
    -webkit-transform: translatey(0px);
    opacity: 1;
  }
  22% {
    -webkit-transform: translatey(-10px)
  }
  25% {
    -webkit-transform: translatey(-6px)
  }
  28% {
    -webkit-transform: translatey(-2px)
  }
  30% {
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
  }
  75%,
  100% {
    box-shadow: 0 -15px 0 0 rgba(255, 255, 255, 0.15), 0 -10px 0 0 rgba(255, 255, 255, 0.10), 0 -5px 0 0 rgba(255, 255, 255, 0.05);
    -webkit-transform: translatey(30px);
    opacity: 0;
  }
}
.animated {
  -webkit-animation-duration:1.3s;
  animation-duration: 1.3s;
}
.animated.ng-stagger {
  animation-delay:1s;
}